<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:cache="http://springframework.org/schema/cache"
       xsi:schemaLocation="http://www.springframework.org/schema/beans 
	   					   http://www.springframework.org/schema/beans/spring-beans-3.1.xsd
	   					   http://springframework.org/schema/cache
	   					   http://springframework.org/schema/cache/spring-cache.xsd
	   					   ">
	<!--<bean >
	</bean>-->
	<import resource="classpath:/db/hibernate.xml" />
	<import resource="classpath:/db/daoFactory.xml" />
	
	<import resource="classpath:/app/controlContextConfiguration.xml" />
	   					   

</beans>